<% if @user.present?  %>
  <% provide(:button_text, 'Update') %>
  <% provide(:title, "Edit user") %>
  <h1 style="margin-bottom: 30px">Update information</h1>
  <div class="row">
    <aside class="col-md-4">
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="https://gravatar.com/emails" target="_blank" rel="noopener">change</a>
      </div>
    </aside>
    <aside class="col-md-4">
      <%= render 'form' %>
    </div>
  </aside>
<% else %>
  <p style="color:red; background-color:pink; padding:10px; box-sizing:border-box; border-radius:4px; border:0.8px red solid"><span style="font-size:26px">&#x2639; </span> User not found! </p>
<% end %>

