<footer class="footer">
  <small></small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  <p style="margin-top: 50px; text-align:right; width: 100%; right:0; bottom:0; font-size: 10px"><i>Time now: <%= Time.now %> - Time zone now: <%= Time.zone.now %></i></p>
  <%# trong DB luôn là UTC, hiện ra ngày giờ ntn là ở view or config nhé, hoặc set time zone ở  '/config/application.rb' %>
</footer>